<footer class="footer">
  <small>
    Built In America by <%= link_to "Scott Fey", 'http://www.youtube.com/watch?v=IhnUgAaea4M'%>
  </small>
  <nav>
    <ul>
      <li><a href="http://www.quickmeme.com/meme/3um2m6/">Get At Me!</a></li>
    </ul>
  </nav>
</footer>